@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(#fff, #9ec862);
    border-radius: 6px;
}

:root {
    --primary-color: #9ec862;
    --background-color: #7bdaf3;
}

body {
    min-height: 100vh;
    background: var(--background-color);
}

#add-note {
    position: fixed;
    right: 1rem;
    top: .5rem;
    border: none;
    outline: none;
    padding: .4rem 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: 200;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: transform .2s ease;
    text-transform: capitalize;
    z-index: 5;
}

#add-note:active {
    transform: scale(.95);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
}

.note {
    width: 300px;
    min-height: 320px;
    margin-top: 4rem;
}

.note .tool {
    position: relative;
    padding: .5rem .75rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    border-radius: 5px 5px 0 0;
}

.note .tool::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 25%);
    background-color: var(--background-color);
    border-radius: 50%;
    box-shadow: inset 2px 2px 6px rgba(0,0,0,0.5),
                inset -2px -2px 6px rgba(255, 255, 255, .5);
}

.note .tool i {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 2rem;
    cursor: pointer;
}

.text-field {
    width: 100%;
    height: 100%;
}

.text-field textarea {
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: .5rem .75rem;
    background: #fff;
    resize: none;
    border-radius: 0 0 5px 5px;
}

.text-field textarea:disabled {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #f2f2f2;
}

@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
    }
}